app/uploads/
data/*.vcf.gz
data/mother*.vcf
data/*.bin
data/sequence*.bin
__pycache__/
*.pyc
app/uploads/
data/external/clinvar_summary.txt
data/external/clinvar_summary.txt.gz
model_v2/results/rf_pgx_final.pkl
